body {
    background-color:lightgreen;
    font-size:1.8em;
    color:white;
    text-align:justify;
    margin:0;
    background-image:url("images/vecteezy_tropical-leaves-seamless-pattern_9210581-1.jpg");
    background-size:30em;
}

.corps{
    display:flex;
    flex-direction: column;
}
header{
	background-color:#0e1a26;
    box-shadow: 30px 5px 5px #0e1a26;
    position:relative;
}
footer{
	background-color:#0e1a26;
}
#contacts {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#lien_github{
    border:solid;
    border-color:lightblue;
}
#gh_logo{
    width:05em;
    height:05em;
}
#mail{
    border:solid;
    border-color:blue;
}
#gmail_logo {
    width:05em;
    height:05em;
}
#discord{
    color:red;
    border:solid;
}
#dc_logo {
    width:05em;
    height:05em;
}
.attributions{
    text-decoration:none;
    font-size:0.5em;
}