body {
    background-color:lightgreen;
    font-size:1.8em;
    color:white;
    text-align:justify;
    margin:0;
    background-image:url("images/vecteezy_tropical-leaves-seamless-pattern_9210581-1.jpg");
    background-size:30em;
    text-align:center;
    text-shadow: 1px 4px 15px black;
}
h1 {
    text-align:center;
    text-shadow: 1px 4px 15px black;
}
p {
    margin-right:7em;
    margin-left:7em;
}
#corps{
    display:flex;
    flex-direction: column;
}
#corps_de_la_page{
    font-size:1.5em;
    text-align:center;
    text-align:justify;
}
header{
	background-color:#0e1a26;
    box-shadow: 10px 5px 20px #0e1a26;
    position:relative;
    display:flex; 
    flex-direction:row;
    justify-content:stretch;
}
.texte_nav{
    text-decoration:none;
    color:green;
}
.texte_nav:hover{
    box-shadow: 0px 0px 30px white;
    background-color:white;
}
#img_moi{
    width:7em;
    border-radius:1em;
    border:solid;
    border-color:black;
    border-width:0.3em;
    margin:auto;
    display:block;
    box-shadow: 0px 0px 60px black;
}
footer{
	background-color:#0e1a26;
    position:relative;
    bottom:-5em;
    box-shadow:top;
    box-shadow: 0px 0px 30px #0e1a26;
}
#contacts {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#lien_github{
    color:green;
    text-decoration:none;
}
#lien_github:hover{
    color:lightgreen;
    box-shadow: 0px 0px 30px white;
    background-color:white;
    text-decoration:none;
}
#gh_logo{
    width:05em;
    height:05em;
}
#gh_logo:hover{
    box-shadow: 0px 0px 30px white;
    background-color:white;
    }





#mail{
    color:green;
    text-decoration:none;
}
#mail:hover{
    color:lightgreen;
    box-shadow: 0px 0px 30px white;
    background-color:white;
    text-decoration:none;
}
#gmail_logo {
    width:05em;
    height:05em;
}
#gmail_logo:hover {
    box-shadow: 0px 0px 30px white;
    background-color:white;
}




#discord{
    color:green;
    text-decoration:none;
}
#discord:hover{
    color:lightgreen;
    box-shadow: 0px 0px 30px white;
    background-color:white;
    text-decoration:none;
}
#dc_logo {
    width:05em;
    height:05em;
}
#dc_logo:hover {
    box-shadow: 0px 0px 30px white;
    background-color:white;
}




.attributions{
    text-decoration:none;
    font-size:0.5em;
}
 